
Dev/android/app/quranconnectbeta.jks
Dev/android/app/build.gradle
Dev/android/java_pid19719.hprof
Dev/src/components/AudioPlayer/audio-message.png
Dev/src/components/AudioPlayer/audio-q.png
Dev/src/components/AudioPlayer/audio.png
Dev/src/components/AudioPlayer/AudioPlayer2.js
Dev/src/components/AudioPlayer/back.png
Dev/src/components/AudioPlayer/cots.jpg
Dev/src/components/AudioPlayer/next.png
Dev/src/components/AudioPlayer/play.png
Dev/T0rXfpM1FtPipSrXKI7bxG8GyBj2
Dev/android/java_pid54642.hprof
Dev/android/java_pid66929.hprof
*.hprof
Dev/QConnectUITestsAndroid/app-release.apk
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/app-release.apk
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/nunit.framework.dll
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/nunit.framework.pdb
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/nunit.framework.xml
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/QConnectUITestsAndroid.dll
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/QConnectUITestsAndroid.pdb
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/Xamarin.UITest.dll
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/Xamarin.UITest.xml
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.csproj.CopyComplete
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.csproj.CoreCompileInputs.cache
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.csproj.FileListAbsolute.txt
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.csprojAssemblyReference.cache
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.dll
Dev/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.pdb
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/app-release.apk
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.pdb
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.dll
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.csprojAssemblyReference.cache
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.csproj.FileListAbsolute.txt
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.csproj.CoreCompileInputs.cache
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/QConnectUITestsAndroid.csproj.CopyComplete
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/Xamarin.UITest.xml
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/Xamarin.UITest.dll
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/QConnectUITestsAndroid.pdb
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/QConnectUITestsAndroid.dll
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/nunit.framework.xml
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/nunit.framework.pdb
Dev/__tests__/QConnectUITestsAndroid/QConnectUITestsAndroid/bin/Debug/nunit.framework.dll
*.apk
